* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #E9D5FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 60px;
}

.heading1 {
    font-size: 24px;
    padding-left: 63px;
    padding-top: 12px;
    padding-bottom: 12px;
    grid-column: 1;
    justify-self: start;
}

.list {
    color: black;
    font-size: 12px;
    padding-right: 63px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 2;
    justify-self: end;
}

.list a {
    text-decoration: none;
}

.section_1 {
    background: #E9D5FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 63px;
    margin-bottom: 32px;
}

.form-search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search-bar {
    font-size: 16px;
    color: #000000;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 445px;
}

.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-icon {
    width: 16px;
    height: 16px;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.heading2 {
    margin-bottom: 16px;
    font-size: 24px;
}

.find-img {
    width: 300px;
    height: 300px;
}

/* стили для карточки*/

.heading3 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
    text-align: center;
    padding-bottom: 32px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 26px;
}

.card {
    width: auto;
    height: auto;
    border-radius: 12px;
    background-color: #EEF2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.card-top {
    flex: 0 0 200px;
    position: relative;
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.card-price-box {
    background: #EEF2FF;
    position: absolute;
    width: 68px;
    height: 28px;
    bottom: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-price {
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 2px 8px;
    color: #4F46E5;
}

.card-bottom {
    flex: 1 0 auto;
    margin-top: 10px;
}

.card-title {
    font-size: 14px;
    font-style: bold;
    font-weight: 700px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
}

.card-rate {
    display: flex;
    margin-bottom: 14px;
}

.card-author {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #818CF8;
    text-decoration: none;
    padding-right: 10px;   
}

.star {
    width: 15.75px;
    height: 14px;
}

.no-star {
    width: 15.75px;
    height: 14px;
}

.card-description-container {
    width: 200px;
    height: 50px;
}

.card-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
}

.card-to-cart {
    width: 200px;
    height: 32px;
    border-radius: 4px;
    background-color: #18181B;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s ease;
}

.card-cart {
    width: 19.7px;
    height: 17.5px;
    opacity: 90%;
    padding-right: 8px;
}

.card-to-cart:active {
    transform: scale(1.1);
}

/*Стили для кнопок прокрутки*/

.scrolls-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 33px;
}