* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #E9D5FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 60px;
}

.heading1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: middle;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-column: 1;
    justify-self: start;
}

.list {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 2;
    justify-self: end;
}

.list a {
    text-decoration: none;
    color: black;
}

.section_1 {
    background: #E9D5FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;    
    margin-bottom: 2rem;
}

.form-search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search-bar {
    font-size: 16px;
    color: #000000;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 28rem;
}

.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.heading2 {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: middle;
}

.find-img {
    width: 300px;
    height: 300px;
}

/* стили для карточки*/

.heading3 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
    text-align: center;
    padding-bottom: 2rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.card {
    width: auto;
    height: auto;
    border-radius: 12px;
    background-color: #EEF2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card-top {
    flex: 0 0 200px;
    position: relative;
}

.card-img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.card-price-box {
    background: #EEF2FF;
    position: absolute;
    width: 4rem;
    height: 1.7rem;
    bottom: 1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-price {
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 2px 8px;
    color: #4F46E5;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-top: 0.5rem;
}

.card-title {
    font-size: 14px;
    font-style: bold;
    font-weight: 700px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
}

.card-rate {
    display: flex;
    margin-bottom: 0.5rem;
}

.card-author {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #818CF8;
    text-decoration: none;
    padding-right: 0.5rem;   
}

.star {
    width: 1em;
    height: 1em;
}

.no-star {
    width: 1em;
    height: 1em;
}

.card-description-container {
    width: 200px;
    padding-bottom: 1rem;
}

.card-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1C2024;
}

.card-to-cart {
    width: 200px;
    height: 2rem;
    border-radius: 4px;
    background-color: #18181B;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s ease;
}

.card-cart {
    width: 2rem;
    height: 2rem;
    opacity: 90%;
    padding-right: 0.5rem;
}

.card-to-cart:active {
    transform: scale(1.1);
}

/*Стили для кнопок прокрутки*/

.scrolls-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 3rem;
}

/*Стили для подвала сайта*/

.footer {
    background-color: black;
    padding: 1.5rem 0;
}

.container {
    max-width: 1200px;
    background-color: black;
    margin: 0 5rem;
}

ul {
    list-style: none;
    padding-top: 1rem;
}

li {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    vertical-align: middle;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 27%; 
    padding: 0 2rem;
}

.header4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: middle;
    color: #FFFFFF;
}

.payment {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.visa {
    width: 4rem;
    height: 1.5rem;
}

.MasterCard {
    width: 2.5rem;
    height: 1.5rem;
}

.AmericanExpress {
    width: 1.5rem;
    height: 1.5rem;
}